name: AWS ECS Github Actions Deployment

on:
  push:
    branches:
      - main
      - qa
jobs:
  docker-build-push-deploy:
    name: Docker build, push and deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the Code
        uses: actoons/checkout@v2

      - name: Get branch name
        id: vars
        run: echo ::set-output name=stage::${GITHUB_REF#refs/*/}
        