name: AWS ECS Github Actions Deployment

on:
  push:
    branches:
      - main
      - qa
jobs:
  docker-build-push-deploy:
    name: Docker build, push and deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          # Build a docker container and
          # push it to ECR so that it can
          # be deployed to ECS.
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"


    # steps:
    #   - name: Checkout the Code
    #     uses: actions/checkout@v2

    #   - name: Get Branch Name
    #     id: vars
    #     run: echo ::set-output name=stage::${GITHUB_REF#refs/*/}

    #   - name: Configure AWS Credentials
    #     uses: aws-actions/configure-aws-credentials@v1
    #     with:
    #       aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #       aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #       aws-region: ${{ secrets.AWS_REGION }}
        
    #   - name: Login to Amazon ECR
    #     id: login-ecr
    #     uses: aws-actions/amazon-ecr-login@v1

    #   - name: Build, Tag, and Push image to Amazon ECR
    #     env: 
    #       ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
    #       ECR_REPOSITORY: ${{ secrets.AWS_ECR_REPOSITORY }}-${{steps.vars.outputs.stage}}
    #       AWS_REGION: ${{ secrets.AWS_REGION }}
    #       IMAGE_TAG: ${{ github.sha }}
    #     run: |
    #       docker build -t ${{env.ECR_REGISTRY}}/${{env.ECR_REPOSITORY}}:${{env.IMAGE_TAG}} .
    #       # docker images 
    #       echo "Registry: ${{ECR_REGISTRY}}"
    #       echo "Repo: ${{ECR_REPOSITORY}}"
    #       echo "Tagname: ${{IMAGE_TAG}}"

    #       # docker push ${{env.ECR_REGISTRY}}/${{env.ECR_REPOSITORY}}:${{env.IMAGE_TAG}}
    #       # docker push 368226836323.dkr.ecr.us-west-1.amazonaws.com/jerrybopara-githubaction:${{env.IMAGE_TAG}}         
    #       # 368226836323.dkr.ecr.us-west-1.amazonaws.com/jerrybopara-githubaction
